.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  margin-top: 12px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-btn {
  background-image: url(../images/heartt.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.card__section {
  max-width: 1280px;
  margin: 0 auto;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%; /*was 140 before 120%, text was cut off on the bottom with 120%*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - 40px);
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__content {
    max-width: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 130%;
    max-width: 235px;
  }
}
