.footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;
}
.footer__copyright {
  width: 96px;
  height: 26px;
  font-size: 16px;
  font-weight: 400;
  color: #212121b2;
  text-align: center;
}
